#start {
    width: 66%;
    color: green;
    align-content: center;
    text-align: center;
    margin: 50px auto;
    display: block;
    position: relative;   
}

#questionbox {
    text-align: center;
    width: 50%;
    position: relative;
    min-height: 250px;
    margin: 0 auto;
    display: block;
}


  li {
    list-style-type: none;
  }