#start {
    width: 66%;
    color: white;
    align-content: center;
    text-align: center;
    margin-left: 250px;
    margin-top: 50px;
    position: relative;   
}

#questionbox {
    text-align: center;
    width: 50%;
    position: relative;
    margin-left: 375px;
    min-height: 250px;
}